In [12]:
import pandas as pd
from pmaw import PushshiftAPI

In [13]:
api = PushshiftAPI()

In [15]:
def data_prep_posts(subreddit, filters, limit):
    if(len(filters) == 0):
        filters = ['id', 'author', 'created_utc',
                   'domain', 'url',
                   'title', 'num_comments']                 
                   #We set by default some useful columns

    posts = list(api.search_submissions(
        subreddit=subreddit,   #Subreddit we want to audit
       #End date
        filter=filters,        #Column names we want to retrieve
        limit=limit))          ##Max number of posts

    return pd.DataFrame(posts) #Return dataframe for analysis

In [16]:
df_p = data_prep_posts("EarthPorn", [],limit = 500)

In [18]:
test = df_p["url"]
print(len(test))
print(len(test.drop_duplicates()))

500
497

In [19]:
df_new = pd.concat(g for _, g in df_p.groupby("url") if len(g) > 1)

In [20]:
df_new

,title,domain,id,author,num_comments,url,created_utc
141,"Max Rive's Aurora Borealis, Lofoten, Norway [3...",,zuhph7,[deleted],1,,1671912673
200,"Alpine Meadow, Idaho. [OC] [1638x2048]",,10po4gw,[deleted],1,,1675138503
247,Zion National Park [3024 x 4032][OC],,10pa0ju,[deleted],1,,1675103328
345,"Grand Canyon of the Yellowstone, Yellowstone N...",i.imgur.com,11levj6,SaltLakeCitySlicker,1,https://i.imgur.com/8x8AHAM.jpeg,1678230903
396,Grand Canyon of The Yellowstone,i.imgur.com,11l03nl,SaltLakeCitySlicker,1,https://i.imgur.com/8x8AHAM.jpeg,1678197610

In [21]:
len(df_new)

5